<configuration>
  <appSettings>
    <add key="connectString"
      value="server=db1.cs.uakron.edu;database= WP_bro2;uid= bro2;pwd=meeBee3i;" />
  </appSettings>
  <system.web>
    <authorization>
	  <allow roles="friend" />
      <allow roles="family" />
      <deny users="*" />
    </authorization>
  </system.web>
</configuration>